{sys, [
    {lib_dirs, ["..", "../deps", "../.."]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {app_file, strip},
    {rel, "noise_erlang", "1", [
        kernel,stdlib,sasl,lager,noise_erlang
    ]},
    {rel, "start_clean", "", [
        kernel,stdlib,sasl,lager,noise_erlang
    ]},
    {boot_rel, "noise_erlang"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, [
        "^bin/.*", "^erts.*/bin/(dialyzer|typer)",
        "^erts.*/(doc|info|include|lib|man|src)"
    ]},
    {excl_app_filters, ["\.gitignore"]},
    {app, sasl,   [{incl_cond, include}]},
    {app, stdlib, [{incl_cond, include}]},
    {app, kernel, [{incl_cond, include}]},
    {app, lager, [{incl_cond, include}]},
    {app, noise_erlang, [{incl_cond, include}]},
	{app, hipe, [{incl_cond, exclude}]}
]}.

{target_dir, "noise_erlang"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/noise_erlang", "bin/noise_erlang"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/noise_erlang.cmd", "bin/noise_erlang.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
